[main]
# main domain
domain=example.com

# default ttl
ttl=432000

# default IP address for non-wildcard entries
ipaddress=127.0.0.1


# SOA
[soa]
# serial number
id=1
# Hostmaster email address
hostmaster=hostmaster@example.com
# Name server
ns=ns1.example.com
refresh=10800
retry=3600
expire=604800
minimum=3600

# nameservers
[nameservers]
ns1.example.com=127.0.0.1
ns2.example.com=127.0.0.1

[additional_cnames]
_acme-challenge=xyz.auth.example.com.
www=business.example.com
